/.Calificacion.java._trace
/.Condicion.java._trace
/.Infraccion.java._trace
/.InscripcionTests.java._trace
/.Jugador.java._trace
/.JugadorComparator.java._trace
/.JugadorCondicional.java._trace
/.JugadorDenegado.java._trace
/.JugadorEstandard.java._trace
/.JugadorPendiente.java._trace
/.JugadorSolidario.java._trace
/.Partido.java._trace
/.TipoJugador.java._trace
/Calificacion.java
/Condicion.java
/Infraccion.java
/InscripcionTests.java
/Jugador.java
/JugadorComparator.java
/JugadorCondicional.java
/JugadorDenegado.java
/JugadorEstandard.java
/JugadorPendiente.java
/JugadorSolidario.java
/Partido.java
/TipoJugador.java
