/.AmigosObserver.java._trace
/.Mail.java._trace
/.MessageSender.java._trace
/.PartidoConfirmadoObserver.java._trace
/.PartidoObserver.java._trace
/.StubMailSender.java._trace
/AmigosObserver.java
/Mail.java
/MessageSender.java
/PartidoConfirmadoObserver.java
/PartidoObserver.java
/StubMailSender.java
