/.CriterioHandicap.java._trace
/.CriterioMix.java._trace
/.CriterioOrden.java._trace
/.CriterioPromedioNCalificaciones.java._trace
/.CriterioPromedioUltimoPartido.java._trace
/CriterioHandicap.java
/CriterioMix.java
/CriterioOrden.java
/CriterioPromedioNCalificaciones.java
/CriterioPromedioUltimoPartido.java
